:root {
  background-color: teal;
}

.App {
  text-align: center;
}

.square {
  width: 5rem;
  height: 5rem;
  border-radius: 25%;
  margin: 2px;
  border: none;
}

:focus {
  outline: none;
}

.Grid {
  display: inline-block;
  background-color: black;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 20vh;
}

.InputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
.Clear {
  width: 6ch;
}

.Input {
  color: white;
  background-color: black;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  display: block;
  margin: 1rem;
  margin-top: 1rem;
  border: none;
  padding: 0.25rem;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: black;
  padding: 0 !important;
}

.Stop {
  width: 2rem;
  height: 2rem;
  padding: 0;
  background-color: white;
  border: none;
}

.Play {
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  border-style: solid;
  padding: 0;
  border-width: 1rem 0px 1rem 2rem;
  border-color: black black black white;
}

.Input:hover {
  background-color: #222;
}

.Input:hover .Play {
  border-color: #222 #222 #222 white;
}

.quarter {
  background-color: grey !important;
}

.on {
  background-color: #f5002d !important;
}

.off {
  background-color: darkgray;
}

.playing {
  background-color: white !important;
}
