:root {
  background-color: teal;
}

.App {
  text-align: center;
}

.square {
  width: 5rem;
  height: 5rem;
  border-radius: 25%;
  margin: 2px;
  border: none;
}

.square:focus {
  outline: none;
  filter: brightness(125%);
}

.Grid {
  display: inline-block;
  background-color: black;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 20vh;
}

.Play {
  background-color: black;
  color: white;
  border: none;
  font-size: 1.25rem;
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5em;
}


.on {
  background-color: red;
}

.off {
  background-color: grey;
}

.playing {
  background-color: white;
}