:root {
  background-color: teal;
}

.App {
  text-align: center;
}

.square {
  width: 5rem;
  height: 5rem;
  border-radius: 25%;
  margin: 2px;
  border: none;
}

:focus {
  outline: none;
}

.Grid {
  display: inline-block;
  background-color: black;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 20vh;
}

.InputDiv {
  display: flex;
  justify-content: center;
}

input {
  width: 6ch;
}

.Input {
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  display: block;
  margin: 1rem;
  margin-top: 1rem;
  padding: 0.5em;
}


.Input:hover {
  background-color: #222;
}

.Input:active {
  background-color: #333;
  outline: none;
}

.quarter {
  background-color: grey !important;
}

.on {
  background-color: #F5002D !important;
}

.off {
  background-color: darkgray;
}

.playing {
  background-color: white !important;
}